@import "variables";

html, body {
    font-family: 'Lato', sans-serif;
    font-size: $base-font-size;
    color: $text-color;
    font-weight: 300;
}

h1 {
    font-size: 1.9rem;
    margin: $main-spacing 0;
}

h2 {
    font-size: 1.6rem;
    margin: $main-spacing 0;
}

p {
    margin-bottom: $main-spacing;
    line-height: 1.5;
}